Hello <b>{{ user.name }}</b>! Welcome to Bioconductor <i class="fa fa-globe"></i>!

<p style="padding-top:10px;">
    We hope you'll find the site useful and our community friendly.
</p>
<p>
    We encourage you to participate:
    <b>upvote</b> posts that you like, ask <b>questions</b>, write <b>comments</b> and <b>answers</b>, follow posts,
    bookmark content. You can keep up with the lates content via email (see your user account settings) or RSS feeds.
</p>
<p>
  If you have not seen it before, you are also <b>strongly</b> encouraged to visit our <a href="http://www.bioconductor.org/help/mailing-list/posting-guide/">posting guide</a>.  This guide will help you to write questions that can actually be answered by others in the forum.  Otherwise you might be surprised to learn just how challenging it can be to write a good question.
</p>
<p>
  By working together we can share what we have learned to write software that allows for others to easily reproduce and build upon our own work. This kind of collaboration should make us all more productive as scientists. 
</p>

