/*
  All variables declared before the import must be present because the
  importing file will use these.
*/

@bioc_blue: #1881C2;            /* from bioconductor.sty */
@bioc_olive: #87B13F;
@bioc_yellow: #FFFC20;          /* complementary text color */

@background_gray: #F5F5F5;
@background_dark_gray: #E5E5E5;

@DEFAULT_FORUM: #B79538;

/* The color of job postings and news: */
@DEFAULT_JOB: #AAAAAA;
@DEFAULT_NEWS: #555555;

/*
Colors for tags
*/
@TAG_COLOR: bioc_blue;
@TAG_BACKGROUND_COLOR: @background_gray;
@TAG_BORDER_COLOR: @background_dark_gray;

@HOVER_BACKGROUND_COLOR: @background_gray;
@HOVER_COLOR: @bioc_olive;

/* Import the default styles */
@import "biostar.base.less";

/* Overriding styles for the current setup */
#site-logo {
  background-color: transparent;
  float: left;
  width: 285px;
}

code {
    color: black;
    font-size: 100%;
}

.label-default {
    color: @bioc_blue;
    background-color: @background_gray;
    font-weight: 100;
    &:hover {
        color: @HOVER_COLOR;
        background-color: @HOVER_BACKGROUND_COLOR;
    }
}

.alert {
    color: @bioc_blue;
    background-color: @background_gray;
}
.alert-success {
    color: @bioc_blue;
    background-color: @background_gray;
}

.fa-sign-out:before { }
