{% load staticfiles %}
{% load server_tags %}

<div class="row visible-lg visible-md" id="navbar">

  <div class="col-md-12">
    
    <div class="col-md-3" id="logo">
      <a href="http://bioconductor.org"><img src="{{ STATIC_URL }}{{ SITE_LOGO }}" class="img-responsive"></a>
    </div>


    <div class="col-md-5">

      {% if user.is_authenticated %}

      My:

      <a href="{% url 'user-messages' %}">messages</a>
      <span class="badge">{% get_count COUNTS 'messages' %}</span>
      &bull;

      <a href="{% url 'user-votes' %}" class="navitem">votes</a>
      <span class="badge">{% get_count COUNTS 'votes' %}</span>
      &bull;

      <a href="{% url 'topic-list' topic='myposts' %}" class="navitem">posts</a>
      &bull;

      <a href="{% url 'topic-list' topic='mytags' %}" class="navitem">tags</a>
      &bull;

      <a href="{% url 'topic-list' topic='following' %}" class="navitem">following</a>
      &bull;

      <a href="{% url 'topic-list' topic='bookmarks' %}" class="navitem">bookmarks</a>

      {% else %}

      <div class="col-md-4 text-center">&nbsp;</div>

      {% endif %}

    </div>

    <div class="col-md-4 text-right {% active 'userprofile' topic %}">

        {% if user.is_authenticated %}

        <i class="fa fa-user"></i> {% userlink user %} &nbsp;|&nbsp;
        <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> logout </a> &bull;

        {% else %}

        <a href="{% url 'login' %}"> sign up / login</a> &bull;

        {% endif %}

        <a href="{% url 'flatpage' 'about' %}">about</a> &bull; <a href="{% url 'flatpage' 'faq' %}">faq</a>
        &bull; <a href="{% url 'rss' %}">rss <i class="fa fa-rss"></i></a>

    </div>

    <div class="col-md-9">&nbsp;</div>
    
    <div class="col-md-9 text-center" id="topnav">

      <div class="col-md-2 newpost">
        <a href="{% url 'new-post' %}" class="navitem">Ask Question</a>
      </div>

      {% for word in CATEGORIES %}

      <div class="col-md-2 {% active word topic %}">
        <a href="{% url 'topic-list' topic=word %}">{{ word }} <sup><b>{% get_count COUNTS word %}</b></sup></a>
      </div>

      {% endfor %}

      <div class="col-md-2 {% current request 'tag-list' %}">
        <a href="{% url 'tag-list' %}">Tags</a>
      </div>

      <div class="col-md-2 {% current request 'user-list' %}">
        <a href="{% url 'user-list' %}">Users</a>
      </div>

    </div>

  </div>

</div>

<div class="row visible-sm visible-xs">

  <div class="col-xs-4">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        {% if topic %} {{ topic }} {% else %} View Posts {% endif %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {% for word in CATEGORIES %}
        <li>
          <a href="/t/{{ word }}">{{ word }}</a>
        </li>
        {% endfor %}
        <li><a href="{% url 'tag-list' %}">Tags</a></li>
      </ul>
    </div>
  </div>

  <div class="col-xs-4">
    <a role="button" class="btn btn-primary" href="{% url 'home' %}">
      <i class="fa fa-star fa-1x"></i> Home </a>
  </div>

  <div class="col-xs-4">
    <div class="btn-group">

      {% if user.is_authenticated %}
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i> You <span class="badge">{% get_count COUNTS 'messages' %}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="{% url 'topic-list' topic='myposts' %}"><i class="fa fa-comments"></i> My Posts</a>
        </li>
        <li>
          <a href="{% url 'user-messages' %}"><i class="fa fa-envelope"></i> My Messages
            <span class="badge">{% get_count COUNTS 'messages' %}</span> </a>
        </li>
        <li>
          <a href="{% url 'topic-list' topic='bookmarks' %}"><i class="fa fa-book"></i> My Bookmarks</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="{% url 'new-post' %}"><i class="fa fa-plus"></i> New Post</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a>
        </li>
      </ul>
      {% else %}
      <div>
        <a class="btn btn-primary" role="button" href="{% url 'login' %}">
          <i class="fa fa-user fa-1x"></i> Log In
        </a>
      </div>
      {% endif %}
    </div>
  </div>

</div>
