{% extends 'starbase.html' %}
{% load crispy_forms_tags %}
{% load server_tags %}
{% block content %}

    {% search_bar %}

    <div class="row">

      <div class="col-md-9">

        <div class="col-md-12" id="search-results">

          {% for res in results %}
            <div class="result">
              <div>
                <h4><a href="{{ res.object.get_absolute_url }}"> {{ res.object.get_title }} </a></h4>
              </div>
              <div>
                {{ res.context|safe }}
              </div>

              <div class="muted">by {{ res.author }}</div>

            </div>
          {% empty %}
            {% if q %}
              <div class="alert alert-warning text-center">No results found.</div>
            {% endif %}
          {% endfor %}

          {% if results %}
            {% page_bar %}
          {% endif %}

        </div>

      </div>

    </div>

{% endblock %}
