{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}

{% block content %}

    <div class="row">&nbsp;</div> 

    <script language="javascript">
        $( document ).ready(function() {
            $("#search-tags").click(function(){
                window.location.href = window.location.href + $("#id_tag_val").val() + "/";
            });
        });
    </script>

    <div class="row">

      <div class="col-md-9">

        <form role="form" method="get" action="{% url 'user-list' %}">
          <div class="form-group col-xs-6 col-xs-offset-4">
            <input  class="form-control" id="id_tag_val" name="tag_val"
                    type="text" placeholder="Enter tags...">
          </div>
          <button class="col-xs-2 btn btn-default" id="search-tags" type="button">
            Search
          </button>
        </form>

      </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <div id="tag-list">
                {% for tag in tags %}
                <div class="col-sm-2">
                  <a class="tag" href="/t/{{ tag.name }}">{{ tag.name }}</a>&nbsp;&times;&nbsp;{{ tag.count }}
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    {% page_bar %}

{% endblock %}
