{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}

{% block content %}

    {#% search_bar %#}
    <script language="javascript">
        $( document ).ready(function() {
            $("#find_posts_with_tag").click(function(){
                window.location.href = window.location.href + $("#id_tag_val").val() + "/";
            });
        });
    </script>

    <br/>
    <div> <!-- class="col-md-8" id="abId0.5198387801647186"> -->
<!-- class="textinput textInput form-control" -->
        <input  id="id_tag_val" class="failsafe" name="tag_val" type="text" size="20"/>
        <button id="find_posts_with_tag" type="button">Find posts with tag</button><br/>

    </div>


    {% page_bar %}

    <div class="row">
        <div class="col-md-12">


            <div id="tag-list">
                {% for tag in tags %}

                    <div class="col-xs-3 col-md-3 text-center">
                        <a class="tag" href="/t/{{ tag.name }}">{{ tag.name }} &times; {{ tag.count }}
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>

    {% page_bar %}

{% endblock %}